# **Tarea 2**

## Objetivos
Desarrollar una aplicación en Jupyter Notebook que muestre una historia del proceso de preparación
y visualización de datos para su posterior análisis, utilizando las herramientas que provee el lenguaje
de programación Python a través de las bibliotecas vistas en clases (Numpy, Pandas y Matplotlib).
La aplicación a desarrollar debe considerar los siguientes ítems.

## Tabla de contenidos
1. [Adquisición de datos](#0)
2. [Limpieza y formateo de datos](#2)

## 1. Adquisición de datos  <a id="0"></a>

- Para la siguiente tarea se utilizaran dos conjuntos de datos distintos. A continucacion se da a conocer el tipo de dato al cual corresponde cada conjunto:

- Tipo de datos de School_Attendance_by_Student_Group: csv
- Tipo de datos de School_Attendance_by_Student_Group: csv

Para trabajar con estos datos el primer paso es importar la librerias pandas y numpy.

In [1]:
import pandas as pd
import numpy as np

## Limpieza y formateo de datos <a id="2"></a>

### 1. Utilizar los métodos pandas.read_xxx() y pandas.to_xxx() para leer y guardar los datos.

In [29]:
# Lee el archivo de entrada mediante pandas y lo asigna a la variable "df"

ubicacion = "./datos/imdb_top_2000_movies.csv"
df = pd.read_csv(ubicacion, header=None)

In [30]:
# Muestra las primeras 10 filas usando el método dataframe.head()

print("Las primeras 5 filas del dataframe") 
df.head()

Las primeras 5 filas del dataframe

,0,1,2,3,4,5,6,7,8,9
0,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
2,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
3,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
4,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M

### 2. Revisar si los datos de entrada tienen o no un encabezado. De no ser así, corregir esta situación.

In [31]:
# Crea una lista con el encabezado

encabezado = ["Movie Name","Release Year","Duration","IMDB Rating", "Metascore","Votes","Genre","Director","Cast","Gross"]
print("headers\n", encabezado)

headers
 ['Movie Name', 'Release Year', 'Duration', 'IMDB Rating', 'Metascore', 'Votes', 'Genre', 'Director', 'Cast', 'Gross']

In [32]:
# Se reemplaza el encabezado y se verifica que todo funcionó correctamente

df.columns = encabezado
df.head()

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
0,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
2,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
3,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
4,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M

### Se procede a la eliminación de la columna 0
Esto se realiza para una mejor visualización de los datos con los que se trabajaran

In [33]:
# Se elimina la columna 0 la cual tenía los nombres de las filas

df = df.drop(0)

### 3. Realizar un análisis básico de los datos de entrada con los métodos .describe() y .info().

In [34]:
df.describe(include = "all")

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
count,2000,2000,2000,2000,1919,2000,2000,2000,2000,1903
unique,1981,112,131,66,89,1991,264,918,919,1721
top,The Omen,2007,104,7.2,73.0,"101,547","Comedy, Drama, Romance",Steven Spielberg,Tom Cruise,$0.02M
freq,2,123,53,103,51,2,98,22,23,7

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 1 to 2000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    2000 non-null   object
 1   Release Year  2000 non-null   object
 2   Duration      2000 non-null   object
 3   IMDB Rating   2000 non-null   object
 4   Metascore     1919 non-null   object
 5   Votes         2000 non-null   object
 6   Genre         2000 non-null   object
 7   Director      2000 non-null   object
 8   Cast          2000 non-null   object
 9   Gross         1903 non-null   object
dtypes: object(10)
memory usage: 156.4+ KB

### 4. Identificar y manipular valores faltantes.

 a) Identificar valores faltantes.

In [37]:
# Se evaluan los valores faltantes reemplazando los NaN por TRUE 

datos_faltantes = df.isnull()
datos_faltantes.head(20)

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False

In [38]:
# Se contaran los valores faltantes en cada columna 

for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: Movie Name
False    2000
Name: Movie Name, dtype: int64

columna: Release Year
False    2000
Name: Release Year, dtype: int64

columna: Duration
False    2000
Name: Duration, dtype: int64

columna: IMDB Rating
False    2000
Name: IMDB Rating, dtype: int64

columna: Metascore
False    1919
True       81
Name: Metascore, dtype: int64

columna: Votes
False    2000
Name: Votes, dtype: int64

columna: Genre
False    2000
Name: Genre, dtype: int64

columna: Director
False    2000
Name: Director, dtype: int64

columna: Cast
False    2000
Name: Cast, dtype: int64

columna: Gross
False    1903
True       97
Name: Gross, dtype: int64

Basado en el resumen anterior, cada columna tiene 2000 filas de datos y 2 columnas tienen datos faltantes.

1. "Metascore": 81 datos faltantes
2. "Gross": 97 datos faltantes

b) Manipular valores faltantes.