# **Tarea 2**

## Objetivos
Desarrollar una aplicación en Jupyter Notebook que muestre una historia del proceso de preparación
y visualización de datos para su posterior análisis, utilizando las herramientas que provee el lenguaje
de programación Python a través de las bibliotecas vistas en clases (Numpy, Pandas y Matplotlib).
La aplicación a desarrollar debe considerar los siguientes ítems.

## Tabla de contenidos
1. [Adquisición de datos](#0)
2. [Limpieza y formateo de datos](#2)

## 1. Adquisición de datos  <a id="0"></a>

- Para la siguiente tarea se utilizaran dos conjuntos de datos distintos. A continucacion se da a conocer el tipo de dato al cual corresponde cada conjunto:

- Tipo de datos de School_Attendance_by_Student_Group: csv
- Tipo de datos de School_Attendance_by_Student_Group: csv

Para trabajar con estos datos el primer paso es importar la librerias pandas y numpy.

In [125]:
import pandas as pd
import numpy as np

## Limpieza y formateo de datos <a id="2"></a>

### 1. Utilizar los métodos pandas.read_xxx() y pandas.to_xxx() para leer y guardar los datos.

In [126]:
# Lee el archivo de entrada mediante pandas y lo asigna a la variable "df"

ubicacion = "./datos/imdb_top_2000_movies.csv"
df = pd.read_csv(ubicacion, header=None)

In [127]:
# Muestra las primeras 10 filas usando el método dataframe.head()

print("Las primeras 5 filas del dataframe") 
df.head(20)

Las primeras 5 filas del dataframe

,0,1,2,3,4,5,6,7,8,9
0,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
2,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
3,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
4,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M
5,Straw Dogs,1971,113,7.4,73.0,"64,331","Crime, Drama, Thriller",Sam Peckinpah,Dustin Hoffman,NaN
6,Close Encounters of the Third Kind,1977,138,7.6,90.0,"216,050","Drama, Sci-Fi",Steven Spielberg,Richard Dreyfuss,$132.09M
7,Once Upon a Time in the West,1968,166,8.5,82.0,"348,110",Western,Sergio Leone,Henry Fonda,$5.32M
8,The Dirty Dozen,1967,150,7.7,73.0,"78,858","Action, Adventure, War",Robert Aldrich,Lee Marvin,$45.30M
9,Rosemary's Baby,1968,137,8.0,96.0,"234,034","Drama, Horror",Roman Polanski,Mia Farrow,NaN
10,Cabaret,1972,124,7.8,80.0,"59,119","Drama, Music, Musical",Bob Fosse,Liza Minnelli,$42.77M
11,Psycho,1960,109,8.5,97.0,"715,718","Horror, Mystery, Thriller",Alfred Hitchcock,Anthony Perkins,$32.00M
12,Rebecca,1940,130,8.1,86.0,"146,211","Drama, Mystery, Romance",Alfred Hitchcock,Laurence Olivier,$4.36M
13,Notorious,1946,102,7.9,100.0,"106,938","Drama, Film-Noir, Romance",Alfred Hitchcock,Cary Grant,$10.46M
14,The Bridge on the River Kwai,1957,161,8.1,88.0,"232,645","Adventure, Drama, War",David Lean,William Holden,$44.91M
15,Doctor Zhivago,1965,197,7.9,69.0,"81,820","Drama, Romance, War",David Lean,Omar Sharif,$111.72M
16,"Il buono, il brutto, il cattivo",1966,161,8.8,90.0,"808,059","Adventure, Western",Sergio Leone,Clint Eastwood,$6.10M
17,Roman Holiday,1953,118,8.0,78.0,"147,146","Comedy, Romance",William Wyler,Gregory Peck,NaN
18,Rope,1948,80,7.9,73.0,"153,077","Crime, Drama, Mystery",Alfred Hitchcock,James Stewart,NaN
19,Charade,1963,113,7.8,83.0,"85,196","Comedy, Mystery, Romance",Stanley Donen,Cary Grant,$13.47M

### 2. Revisar si los datos de entrada tienen o no un encabezado. De no ser así, corregir esta situación.

In [128]:
# Crea una lista con el encabezado

encabezado = ["Movie Name","Release Year","Duration","IMDB Rating", "Metascore","Votes","Genre","Director","Cast","Gross"]
print("headers\n", encabezado)

headers
 ['Movie Name', 'Release Year', 'Duration', 'IMDB Rating', 'Metascore', 'Votes', 'Genre', 'Director', 'Cast', 'Gross']

In [129]:
# Se reemplaza el encabezado y se verifica que todo funcionó correctamente

df.columns = encabezado
df.head()

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
0,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
2,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
3,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
4,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M

### Se procede a la eliminación de la columna 0
Esto se realiza para una mejor visualización de los datos con los que se trabajaran

In [130]:
# Se elimina la columna 0 la cual tenía los nombres de las filas

df = df.drop(0)

### 3. Realizar un análisis básico de los datos de entrada con los métodos .describe() y .info().

In [131]:
df.describe(include = "all")

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
count,2000,2000,2000,2000,1919,2000,2000,2000,2000,1903
unique,1981,112,131,66,89,1991,264,918,919,1721
top,The Omen,2007,104,7.2,73.0,"101,547","Comedy, Drama, Romance",Steven Spielberg,Tom Cruise,$0.02M
freq,2,123,53,103,51,2,98,22,23,7

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 1 to 2000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    2000 non-null   object
 1   Release Year  2000 non-null   object
 2   Duration      2000 non-null   object
 3   IMDB Rating   2000 non-null   object
 4   Metascore     1919 non-null   object
 5   Votes         2000 non-null   object
 6   Genre         2000 non-null   object
 7   Director      2000 non-null   object
 8   Cast          2000 non-null   object
 9   Gross         1903 non-null   object
dtypes: object(10)
memory usage: 156.4+ KB

### 4. Identificar y manipular valores faltantes.

 a) Identificar valores faltantes.

In [133]:
# Se evaluan los valores faltantes reemplazando los NaN por TRUE 

datos_faltantes = df.isnull()
datos_faltantes.head(20)

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False

In [134]:
# Se contaran los valores faltantes en cada columna 

for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: Movie Name
False    2000
Name: Movie Name, dtype: int64

columna: Release Year
False    2000
Name: Release Year, dtype: int64

columna: Duration
False    2000
Name: Duration, dtype: int64

columna: IMDB Rating
False    2000
Name: IMDB Rating, dtype: int64

columna: Metascore
False    1919
True       81
Name: Metascore, dtype: int64

columna: Votes
False    2000
Name: Votes, dtype: int64

columna: Genre
False    2000
Name: Genre, dtype: int64

columna: Director
False    2000
Name: Director, dtype: int64

columna: Cast
False    2000
Name: Cast, dtype: int64

columna: Gross
False    1903
True       97
Name: Gross, dtype: int64

Basado en el resumen anterior, cada columna tiene 2000 filas de datos y 2 columnas tienen datos faltantes.

1. "Metascore": 81 datos faltantes
2. "Gross": 97 datos faltantes

b) Manipular valores faltantes.

In [135]:
# Se calcula el valor promedio de la columna Metascore

metascore_pro = df["Metascore"].astype("float").mean(axis=0)
print("Promedio de Metascore:", metascore_pro)

Promedio de Metascore: 61.04429390307452

In [136]:
# Se reemplazaran los valores NaN, con el valor promedio en la columna "Metascore"

df["Metascore"].replace(np.nan, metascore_pro, inplace=True)

#### Descarte de fila completa por Gross

La razón del descarte de las filas con datos faltantes es que la columna Gross es lo que se quiere llegar a predecir.

In [137]:
# Se eliminan todas las filas con NaN en la columna "Gross"
df.dropna(subset=["Gross"], axis=0, inplace=True)

# Se reinician los indices ya que se han eliminado 97 filas
df.reset_index(drop=True, inplace=True)

In [138]:
df.head(20)

,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
0,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
1,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
2,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
3,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M
4,Close Encounters of the Third Kind,1977,138,7.6,90.0,"216,050","Drama, Sci-Fi",Steven Spielberg,Richard Dreyfuss,$132.09M
5,Once Upon a Time in the West,1968,166,8.5,82.0,"348,110",Western,Sergio Leone,Henry Fonda,$5.32M
6,The Dirty Dozen,1967,150,7.7,73.0,"78,858","Action, Adventure, War",Robert Aldrich,Lee Marvin,$45.30M
7,Cabaret,1972,124,7.8,80.0,"59,119","Drama, Music, Musical",Bob Fosse,Liza Minnelli,$42.77M
8,Psycho,1960,109,8.5,97.0,"715,718","Horror, Mystery, Thriller",Alfred Hitchcock,Anthony Perkins,$32.00M
9,Rebecca,1940,130,8.1,86.0,"146,211","Drama, Mystery, Romance",Alfred Hitchcock,Laurence Olivier,$4.36M
10,Notorious,1946,102,7.9,100.0,"106,938","Drama, Film-Noir, Romance",Alfred Hitchcock,Cary Grant,$10.46M
11,The Bridge on the River Kwai,1957,161,8.1,88.0,"232,645","Adventure, Drama, War",David Lean,William Holden,$44.91M
12,Doctor Zhivago,1965,197,7.9,69.0,"81,820","Drama, Romance, War",David Lean,Omar Sharif,$111.72M
13,"Il buono, il brutto, il cattivo",1966,161,8.8,90.0,"808,059","Adventure, Western",Sergio Leone,Clint Eastwood,$6.10M
14,Charade,1963,113,7.8,83.0,"85,196","Comedy, Mystery, Romance",Stanley Donen,Cary Grant,$13.47M
15,The Conversation,1974,113,7.7,87.0,"121,187","Drama, Mystery, Thriller",Francis Ford Coppola,Gene Hackman,$4.42M
16,Vertigo,1958,128,8.3,100.0,"425,385","Mystery, Romance, Thriller",Alfred Hitchcock,James Stewart,$3.20M
17,The Blue Lagoon,1980,104,5.8,31.0,"76,217","Adventure, Drama, Romance",Randal Kleiser,Brooke Shields,$58.85M
18,Marnie,1964,130,7.1,73.0,"53,670","Crime, Drama, Mystery",Alfred Hitchcock,Tippi Hedren,$7.00M
19,Deliverance,1972,109,7.7,80.0,"118,842","Adventure, Drama, Thriller",John Boorman,Jon Voight,$7.06M

c) Corregir el formato de los datos

In [139]:
# Se listan los tipos de datos de cada columna

df.dtypes

df['Release Year'] = df['Release Year'].str.replace('^(I | II )', '', regex=True)

In [140]:
#df[["Gross"]] = df[["Gross"]].astype("float")
df['Votes'] = df['Votes'].str.replace(',', '')


df[["Release Year", "Duration"]] = df[["Release Year", "Duration"]].astype(int)
df[["Metascore","Votes"]] = df[["Metascore","Votes"]].astype(float).astype(int)

df.dtypes

ValueError: invalid literal for int() with base 10: 'II 2009'