In [1]:
import pandas as pd
import numpy as np

In [14]:
ubicacion = "./datos/imdb_top_2000_movies.csv"
df = pd.read_csv(ubicacion, header=None)

In [19]:

print("Las primeras 5 filas del dataframe") 
df.head(40)

Las primeras 5 filas del dataframe

,0,1,2,3,4,5,6,7,8,9
0,Movie Name,Release Year,Duration,IMDB Rating,Metascore,Votes,Genre,Director,Cast,Gross
1,The Godfather,1972,175,9.2,100.0,"2,002,655","Crime, Drama",Francis Ford Coppola,Marlon Brando,$134.97M
2,The Godfather Part II,1974,202,9.0,90.0,"1,358,608","Crime, Drama",Francis Ford Coppola,Al Pacino,$57.30M
3,Ordinary People,1980,124,7.7,86.0,"56,476",Drama,Robert Redford,Donald Sutherland,$54.80M
4,Lawrence of Arabia,1962,218,8.3,100.0,"313,044","Adventure, Biography, Drama",David Lean,Peter O'Toole,$44.82M
5,Straw Dogs,1971,113,7.4,73.0,"64,331","Crime, Drama, Thriller",Sam Peckinpah,Dustin Hoffman,NaN
6,Close Encounters of the Third Kind,1977,138,7.6,90.0,"216,050","Drama, Sci-Fi",Steven Spielberg,Richard Dreyfuss,$132.09M
7,Once Upon a Time in the West,1968,166,8.5,82.0,"348,110",Western,Sergio Leone,Henry Fonda,$5.32M
8,The Dirty Dozen,1967,150,7.7,73.0,"78,858","Action, Adventure, War",Robert Aldrich,Lee Marvin,$45.30M
9,Rosemary's Baby,1968,137,8.0,96.0,"234,034","Drama, Horror",Roman Polanski,Mia Farrow,NaN
10,Cabaret,1972,124,7.8,80.0,"59,119","Drama, Music, Musical",Bob Fosse,Liza Minnelli,$42.77M
11,Psycho,1960,109,8.5,97.0,"715,718","Horror, Mystery, Thriller",Alfred Hitchcock,Anthony Perkins,$32.00M
12,Rebecca,1940,130,8.1,86.0,"146,211","Drama, Mystery, Romance",Alfred Hitchcock,Laurence Olivier,$4.36M
13,Notorious,1946,102,7.9,100.0,"106,938","Drama, Film-Noir, Romance",Alfred Hitchcock,Cary Grant,$10.46M
14,The Bridge on the River Kwai,1957,161,8.1,88.0,"232,645","Adventure, Drama, War",David Lean,William Holden,$44.91M
15,Doctor Zhivago,1965,197,7.9,69.0,"81,820","Drama, Romance, War",David Lean,Omar Sharif,$111.72M
16,"Il buono, il brutto, il cattivo",1966,161,8.8,90.0,"808,059","Adventure, Western",Sergio Leone,Clint Eastwood,$6.10M
17,Roman Holiday,1953,118,8.0,78.0,"147,146","Comedy, Romance",William Wyler,Gregory Peck,NaN
18,Rope,1948,80,7.9,73.0,"153,077","Crime, Drama, Mystery",Alfred Hitchcock,James Stewart,NaN
19,Charade,1963,113,7.8,83.0,"85,196","Comedy, Mystery, Romance",Stanley Donen,Cary Grant,$13.47M
20,The Conversation,1974,113,7.7,87.0,"121,187","Drama, Mystery, Thriller",Francis Ford Coppola,Gene Hackman,$4.42M
21,Vertigo,1958,128,8.3,100.0,"425,385","Mystery, Romance, Thriller",Alfred Hitchcock,James Stewart,$3.20M
22,The Blue Lagoon,1980,104,5.8,31.0,"76,217","Adventure, Drama, Romance",Randal Kleiser,Brooke Shields,$58.85M
23,Marnie,1964,130,7.1,73.0,"53,670","Crime, Drama, Mystery",Alfred Hitchcock,Tippi Hedren,$7.00M
24,Deliverance,1972,109,7.7,80.0,"118,842","Adventure, Drama, Thriller",John Boorman,Jon Voight,$7.06M
25,Saturday Night Fever,1977,118,6.8,77.0,"87,091","Drama, Music",John Badham,John Travolta,$94.21M
26,Friday the 13th,1980,95,6.4,22.0,"156,829","Horror, Mystery, Thriller",Sean S. Cunningham,Betsy Palmer,$39.75M
27,Dog Day Afternoon,1975,125,8.0,86.0,"272,254","Biography, Crime, Drama",Sidney Lumet,Al Pacino,$50.00M
28,Rear Window,1954,112,8.5,100.0,"520,357","Mystery, Thriller",Alfred Hitchcock,James Stewart,$36.76M
29,Fahrenheit 451,1966,112,7.2,NaN,"45,330","Drama, Sci-Fi",François Truffaut,Oskar Werner,NaN
30,"It's a Mad, Mad, Mad, Mad World",1963,210,7.5,59.0,"45,881","Action, Adventure, Comedy",Stanley Kramer,Spencer Tracy,$46.30M
31,My Fair Lady,1964,170,7.7,95.0,"101,519","Drama, Family, Musical",George Cukor,Audrey Hepburn,$72.00M
32,Alien,1979,117,8.5,89.0,"945,866","Horror, Sci-Fi",Ridley Scott,Sigourney Weaver,$78.90M
33,Star Wars,1977,121,8.6,90.0,"1,444,539","Action, Adventure, Fantasy",George Lucas,Mark Hamill,$322.74M
34,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,82.0,"1,374,400","Action, Adventure, Fantasy",Irvin Kershner,Mark Hamill,$290.48M
35,Carrie,1976,98,7.4,86.0,"205,836","Horror, Mystery",Brian De Palma,Sissy Spacek,$33.80M
36,The Hustler,1961,134,8.0,90.0,"86,587","Drama, Sport",Robert Rossen,Paul Newman,$8.28M
37,12 Angry Men,1957,96,9.0,97.0,"860,130","Crime, Drama",Sidney Lumet,Henry Fonda,$4.36M
38,Citizen Kane,1941,119,8.3,100.0,"464,602","Drama, Mystery",Orson Welles,Orson Welles,$1.59M
39,The Third Man,1949,104,8.1,97.0,"181,240","Film-Noir, Mystery, Thriller",Carol Reed,Orson Welles,$0.45M